<table>
    <tr>
        <th>Name</th>
        <th>Order</th>
    </tr>
    [% FOR order IN orders %]
    <tr>
        <td>[% order.name %]</td>
        <td>[% order.food %]</td>
    </tr>
    [% END %]
</table>
<form method="POST">
    <input type="text" name="name">
    <input type="text" name="food">
    <input type="submit" value="Order">
</form>
