<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>[% title %]</title>
    <link rel="stylesheet" href="/site.css">
    <link rel="stylesheet" href="/ext/jquery-ui-1.12.1/jquery-ui.min.css">
    <script src="/ext/jquery-3.3.1.min.js"></script>
    <script src="/ext/jquery-ui-1.12.1/jquery-ui.min.js"></script>
  </head>
  <body>
    [% content | none %]
  </body>
</html>


