<h1>Insecure Co Systems</h1>
<p>
<ul>
<li><a href="/admin/fish-and-chips">Fish and Chips</a></li>
<li><a href="/admin/number-check">Phone numbers</a></li>
<li><a href="/admin/cgi-bin/edit-user.cgi?user_id=[% request.env.ID_ID %]">Edit User</a></li>
</ul>
</p>

