<table>
    <tr>
        <th>Name</th>
        <th>Order</th>
    </tr>
    [% FOR order IN orders %]
    <tr>
        <td>[% order.name %]</td>
        <td>[% order.food | html_line_break %]</td>
    </tr>
    [% END %]
</table>
<form method="POST">
    <textarea name="food"></textarea>
    <input type="submit" value="Order">
</form>
